100            ICON                    "minffs.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "ExMinFFS"
            VALUE "FileDescription", "ExMinFFS"
            VALUE "FileVersion", "2.7.5.1"
            VALUE "InternalName", "ExMinFFS.exe"
            VALUE "LegalCopyright", "See Lincense."
            VALUE "OriginalFilename", "ExMinFFS"
            VALUE "ProductName", "ExMinFFS"
            VALUE "ProductVersion", "2.7.5.1"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
